:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: var(--color-page-dark-text);
  background-color: var(--color-page-dark-bg);
  transition: 100ms all ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-page-light-text);
    background-color: var(--color-page-light-bg);
  }
}
